 *{
    box-sizing: border-box;
 }

 .navbar{
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    background: #eeeeee;

    margin: 0 -15px;
    list-style: none;
    flex-wrap: nowrap !important;
}
.navbar li{
    display: flex;
    justify-content: center;
    flex: 0 1 100%;
    padding: 0 5px;

}

.navbar a {
    display: block;
    color: grey;
    text-align: center;
    padding: 9px 0px;
    text-decoration: none;
    max-width: 180px;
    width: 100%;
}

.navbar a:hover {
    background-color: #e0e0e0;
}


.container-fluid {
    display: flex;
    flex-direction: column;

}


.column-bar{
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0;
    flex-wrap: nowrap !important;
}
.Column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 0 1 100%;
}

.button {
            padding: 5px;
            text-align: center;
            width: 100%;
            max-width: 100px
            text-align: center;
            margin: 0 0 30px;
}

button {
    width: 180px;
    position: relative;
}



.info{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #ccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.btn-tooltip{
    position: absolute;
    top: 0;
    left: 100%;
    background: #f0f0f0;
    padding: 5px;
    color: #000;
    opacity: 0;
    z-index: 2;
    transition: opacity .3s;
    white-space: normal;
    width: 180px;
    display: flex;

    font-size: small;
    display: none;
    }

.info:hover ~ .btn-tooltip{
    opacity: 1;
    display: block
}


div.col-sm-2{
	text-shadow: 20px;

}

.basicIcon {	
    width: 30px;
    height: 30 px;


}

#saveGame, #resetGame {
    float: right;
    display: flex;
    flex-direction: column;
}




a:hover { 
     text-decoration: none;
   }


