 html {
    box-sizing: border-box;
 }
 *,
 *:before,
 *:after {
    box-sizing: inherit;
 }


.col-lg-2 {
    max-width: 100%;
}


.navbar {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    background: #eeeeee;
    list-style: none;
    flex-wrap: nowrap !important;
}



.navbar a {
    display: block;
    color: grey;
    text-align: center;
    text-decoration: none;
    max-width: 180px;
    width: 100%;
}

.navbar a:hover {
    background-color: #e0e0e0;
}


.container-fluid {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
}



.nav-item {
    padding: 0px 15px 0px 15px;
    min-width: 186.5px;
    text-align: center;
}

.button {
    padding: 15px 15px 15px 15px;
    text-align: center; 

}

button {
    min-width: 140px;
    height: 60px;
    position: relative;

}

button span {
    font-size: 14.5px;
}


.info{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #ccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.btn-tooltip {
    position: absolute;
    top: 0;
    left: 100%;
    background: #f0f0f0;
    padding: 5px;
    color: #000;
    opacity: 0;
    z-index: 2;
    transition: opacity .3s;
    width: 150px;
    white-space: normal;
    font-size: small;
    display: none;
}

.column-bar .Column:not(:last-of-type) .btn-tooltip {
    right: 100%;
}

.info:hover ~ .btn-tooltip{
    opacity: 1;
    display: block;
}



.basicIcon {	
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.navbar .col-xs-2:last-of-type .basicIcon {    

    height: 30px;
}

#saveGame, #resetGame {
    float: right;
    display: flex;
    flex-direction: column;
}




a:hover { 
     text-decoration: none;
   }


