.divColumn {
        margin-top: 5px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 0px;
        display: inline-block;

}

.button {
            padding: 5px 5px 5px 5px;
            margin-top: 5px;
            margin-bottom: 10px;
            margin-right: 80px;
            margin-left: 0px;
            width: 100px;
            text-align: center;
}

button {
    width: 180px;
    height: 65px;
}



div.col-sm-2{
	text-shadow: 20px;

}

.basicIcon {	
    margin-left: 5px;
    width: 30px;
    height: 30 px;

}




a:hover { 
     text-decoration: none;
   }


ul {
    list-style-type: none;
    margin-left: 30px;
    overflow: hidden;
    background-color: #eeeeee;
}

li {
    float: left;
    margin-right: 33.5px;
    width: 180px;


}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 9px 0px;
    text-decoration: none;
}

li a:hover {
    background-color: #e0e0e0;
}
