
div.col-sm-2{
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px;

}

div.col-sm-2{
	text-shadow: 20px;

}

.basicIcon {	
    margin-left: 5px;
    width: 30px;
    height: 30 px;

}

.row {
	margin-left: 10px;
}


a:hover { 
     text-decoration: none;
   }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eeeeee;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e0e0e0;
}
